

body{
   display: block;
    margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,5fr);
    grid-template-rows: minmax(auto, auto);
    row-gap: 10px;
    width: 800px; 
    height: 650px;
    margin-left: 20%;
}

.image, .vertu, .nom, .nom_sc, .nom_vernac, .envoi{
    grid-column: 2/3;
    grid-row: auto;
}

.image{
    text-align: center;
}
.icone{
    width: 50px;
    margin-left: -20%;
}
.envoi>input{
    background-color: darkgreen;
    color: white;
}
label{
    font-weight: bold;
    font-size: 20px;
}

input, textarea{
    width: 200px;
    height: 40px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    padding-left: 20px;
}

textarea{
    max-width: 700px;
    min-width: 700px;
    min-height: 40px;
}